link(rel='stylesheet', href='public/style.css')
block content
    #header 
     h1.
        Scituate 2014
     h4.
       Jesse's birthday beach party spectacular!
    #grid
     table
       th
        each day, i in days
            th=day.name            
       tr.total
        td="Total Visitors"
        each day, i in days
          if day.visitors>0
             td=day.visitors
          else
             td
       tr.total
        td="Total Veg"
        each day, i in days
          if day.veg>0
            td=day.veg
          else
            td
       tr.total
         td="Total Cooking"
         each day, i in days
          if day.cooking>0
             td=day.cooking
          else
             td
       each guestVisitRow, i in guestVisitRows
             tr
             
               td=guestVisitRow.guest.name
                each visit, index in guestVisitRow.visitRow
                  if visit
                    if visit.cooking
                       td.visit="cooking"
                    else
                       td.visit
                  else
                    td
               td
                 form(action='/api/guests/remove', method='post').remove
                    input(type="hidden", name="guest", value=guestVisitRow.guest.id)
                    input(type="submit", value="X")
  
#signup_text                   
  h2.
   Sign up!
  p.
    What times do you think you'll be in Scituate? You don't have to be 100% sure, I'm just trying to get a ballpark figure. If you think there's more than a 50% chance, say yes.
  p.cooking="To avoid kitchen conflicts, click on when you want to cook. You don't have to cook - you can bring something - or even better just bring yourself."
                   
 form(action='/api/guests/add',method='post')
     
    table
       th="Your name"
        each day, i in days
            th=day.name     
       tr
         td
           input(type="text", name="name")
           div
             input(type="checkbox", name="veg")
             span=" vegetarian?"
         each day, i in days
            td
              div
                input(type="checkbox", name="day"+day.id)
                span="  visiting"
              div
                input(type="checkbox", name="cooking"+day.id)
                span=" cooking"
       tr
         td
           input(type="submit")
